body {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin:0;
    font-family: "Sofia", sans-serif;
    background-color: rgb(189, 203, 235);
}
h1 {
    border-radius: 75px;
    font-size:5rem;
    padding: 10px 20px;
    background-color:#4CAF50;
    color: white;
}
#gridBtn, #resetBtn {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color:#4CAF50;
    color: white;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1.5rem;
    font-weight:bold;

}
.button-container {
    display:flex;

}
#gridBtn:hover, #resetBtn:hover {
    background-color: #45a049;
}

#container {
    display:flex;
    flex-basis: 100px;
    flex-wrap:wrap;
    width: 480px;
    border:1px solid black;
}
#container div {
    flex: 0 0 calc(100% / var(--grid-size));
    padding-bottom:calc(100% / var(--grid-size)) ;
    box-sizing: border-box;
    border: 1px solid black; 
    height: 30px; 
    width: 30px;
}